include button

mixin card( id, image, title, description )
	a(href=`#${id}`).card-project
		.card-project__image
			img(src=`./assets/image/${image}`, alt="Trabajo 1" class='card-project__img')

		article.card-project__content
			.card-project__info
				h3.card-project__title= title
				p.card-project__description= description