$table-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;
/* Estilos base */
body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	font-size: var(--normal-font-size);
	color: var(--white-color500);
	background-color: var(--dark-color500);
}

.container {
	max-width: var(--large-desktop-width);
	margin-left: auto;
	margin-right: auto;
}

// Header
.header {
	position: sticky;
	top: 0;
	z-index: var(--z-index300);
	height: var(--header-height);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// Main
.main { }

// Footer
.footer {

	&__title {
		text-align: center;
	}
}

.header,
.footer {
	padding: 0 var(--normal-padding);
	background-color: var(--dark-color400);
	
	@media screen and (min-width: $desktop-width) {
		padding: 0 var(--small-padding);
	}
}

.full--screen {
	width: 100%;

	@media screen and (min-width: $desktop-width) {
		min-height: 100vh;
	}
}