$table-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;

.banner {
	margin-top: var(--normal-margin);
	max-height: 50vh;
	background-color: yellow;
	overflow: hidden;
	transition: max-height .3s;
	position: relative;

	@media screen and (min-width: $table-width) {
		max-height: 65vh;
	}
	@media screen and (min-width: $desktop-width) {
		max-height: 80vh;
	}
	
	&__image {
		height: 100%;
		width: 100%;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}