.projects {
	padding: var(--normal-padding) 0;
	// background-color: green;
	display: grid;
	// grid-auto-rows: 25rem;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	// grid-template-columns: repeat(auto-fit, 300px);
	// grid-template-columns: repeat(auto-fit, 300px);
	justify-content: center;
	justify-items: center;
	gap: var(--normal-gap);
}