.product-show {
	padding: var(--normal-padding) var(--small-padding);

	@media screen  and (min-width: 48rem) {
		display: grid;
		grid-template-columns: 1fr 300px;
		grid-template-rows: 400px;
	}

	&__item {
		background-color: var(--light-color600);
		padding: var(--small-padding) 0;

		@media screen and (min-width: 48rem) {
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			
			&:nth-child(2) {
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}
		}
	}
	
	&__image {
		height: 100%;
		padding: var(--small-padding);
	}
	
	&__img {
		border-radius: var(--border-radius);
		height: 300px;
		width: 100%;
		object-fit: cover;
		object-position: center;
		
		@media screen and (min-width: 48rem) {
			height: 100%;
		}
	}

	&__info {
		height: 100%;
		
		@media screen and (min-width: 48rem) {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
			padding-left: var(--small-padding);
		}
	}
}