extends ../includes/template

block banner
	include ../includes/banner

	
block projects
	section.container-projects#project
		h2.subtitle Proyectos
		section.projects
			+card('car.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
			+card('code.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, con el framework CodeIgnater, jquery y MySql.')
			+card('pc.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
			+card('car.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
			+card('work.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
			+card('car.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
			+card('code.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
