.container-form {
  margin-top: var(--normal-padding);
  background-color: purple;
  width: 100%;
}

.form {
  background-color: var(--light-color600);
  padding: var(--small-padding);
  padding-bottom: var(--large-padding);
  border-radius: var(--border-radius);
  -webkit-transition: max-width 0.3s;
  transition: max-width 0.3s;
}
@media screen and (min-width: 48rem) {
  .form {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}
.form__field {
  padding: var(--small-padding) 0;
}
.form__input {
  width: 100%;
}
.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--marron-color);
  color: var(--light-color500);
  border-color: var(--marron-color);
}