block about
	section.about#Sobre-Mi
		article.biography
			h1.title.biography__name Pedro Purihuaman
			span.biography__occupation Programador Web Junior
			.biography__info
				p.biography__text Egresado de la carrera 
					i Desarrollo De Sistemas De Información 
					| en el Instituto 
					a(href="#").biography__link
						b El Buen Pastor.

				p.biography__text Soy muy apacionado por la tecnologia y la informatica.

				p.biography__text Difruto llevar a cabo la maquetación de interfaces web.

				.biography__cv
					a(href="https://drive.google.com/file/d/1dxAnMwDj7qHvBtOXbKDuRISJQi8UmbN9/view?usp=sharing" target="_blank" rel="noopener").button.biography__button DESCARGA MI CV 

		article.photography
			div.photography__container
				img(src="./assets/image/photo-puri.jpg" alt="Pedro Purihuaman" class="photography__image")

		article.skills
			h2.subtitle.skills__title Mis Habilidades
			.skills__content#skills__content
				.skills__item
					.skills__image
						img(src="./assets/icons/html.svg", alt="HTML5").skills__img
					span.skills__name HTML5
					.skills__details
						h3.skills__details-title Conocimientos en HTML5
						p Conocimientos Solidos en HTML 5
						p Conocimientos Solidos en HTML 5

				.skills__item
					.skills__image
						img(src="./assets/icons/css.svg", alt="CSS3").skills__img
					span.skills__name CSS3
					.skills__details
						h3.skills__details-title Conocimientos en CSS3
						p Conocimientos Solidos en CSS3
						p Conocimientos Solidos en CSS3

				.skills__item
					.skills__image
						img(src="./assets/icons/javascript.svg", alt="JavaScript").skills__img
					span.skills__name JavaScript
					.skills__details
						h3.skills__details-title Conocimientos en JavaScript
						p Conocimientos Solidos en JavaScript
						p Conocimientos Solidos en JavaScript

				.skills__item
					.skills__image
						img(src="./assets/icons/php.svg", alt="PHP").skills__img
					span.skills__name PHP
					.skills__details
						h3.skills__details-title Conocimientos en PHP
						p Conocimientos Solidos en PHP
						p Conocimientos Solidos en PHP

				.skills__item
					.skills__image
						img(src="./assets/icons/database.svg", alt="MySQL - SQL Server").skills__img
					span.skills__name MyQL - SQL
					.skills__details
						h3.skills__details-title Conocimientos en MySQL y SQL Server
						p Conocimientos MySQL y SQL Server
						p Conocimientos MySQL y SQL Server

				.skills__item
					.skills__image
						img(src="./assets/icons/sass.svg", alt="SASS").skills__img
					span.skills__name SASS
					.skills__details
						h3.skills__details-title Conocimientos en SASS
						p Conocimientos Solidos en SASS
						p Conocimientos Solidos en SASS