block about
	section.about#Sobre-Mi
		article.biography
			h1.title.biography__name Pedro Purihuaman
			span.biography__occupation Programador Web Junior
			.biography__info
				p.biography__text Egresado de la carrera 
					i Desarrollo De Sistemas De Información 
					| en el Instituto 
					a(href="#").biography__link
						b El Buen Pastor.

				p.biography__text Soy muy apacionado por la tecnologia y la informatica.

				p.biography__text Difruto llevar a cabo la maquetación de interfaces web.

				.biography__cv
					a(href="#" target="_blank" rel="noopener").button.biography__button DESCARGA MI CV 

		article.photography
			div.photography__container
				img(src="./assets/image/photo-puri.jpg" alt="Pedro Purihuaman" class="photography__image")

		article.skills
			h2.subtitle.skills__title Skills
			.skills__content#skills__content
				.skills__item
					.skills__image
						img(src="#", alt="HTML5")
					span.skills__name HTML5
					.skills__details
						h3.skills__details-title Conocimientos en HTML5
						p Conocimientos Solidos en HTML 5
						p Conocimientos Solidos en HTML 5

				.skills__item
					.skills__image
						img(src="#", alt="CSS3")
					span.skills__name CSS3
					.skills__details
						h3.skills__details-title Conocimientos en CSS3
						p Conocimientos Solidos en CSS3
						p Conocimientos Solidos en CSS3

				.skills__item
					.skills__image
						img(src="#", alt="JavaScript")
					span.skills__name JavaScript