section.home#Inicio
	article.banner
		//- .banner__hero-image
			//- img(src="./assets/image/banner.jpg", alt="" class="banner__image")
		.banner__content
			h2.banner__title.subtitle Bienvenid@s<br/> a mi sitio
			a(href="#Contacto").button.button--contact CONTÁCTAME
