.banner
	.banner__image
		img(src="./assets/image/banner.jpg", alt="" class='banner__img')
	.about#about
		.about__perfil
			.about__photo
				img(src="./assets/image/photo-puri.jpg", alt="" class='about__img')
		.about__information
			p Hola soy Pedro Purihuaman un estudiante de la carrera de <b>Desarrollo de Sistemas de Información</b>. 
				| Soy amante de la tecnología.