section.home#Inicio
	article(style="--image: url('assets/image/banner.jpg')").banner
		.banner__opacity
			.banner__content
				h2.banner__title.subtitle Bienvenid@s<br/> a mi sitio
				a(href="#Contacto").button.button--contact CONTÁCTAME
