.banner
	.banner__image
		img(src="./assets/image/banner.jpg", alt="" class='banner__img')
	.about
		.about__perfil
			.about__photo
				img(src="./assets/image/car.jpg", alt="" class='about__img')
		.about__information
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus natus voluptates quia vitae dignissimos aliquid saepe quibusdam repudiandae incidunt porro.