-
	var pages = [
		{
			title: 'Home',
			url: '#Inicio',
		},
		{
			title: 'Sobre Mí',
			url: '#Sobre-Mi',
			child: [],
		},
		{
			title: 'Servicios',
			url: '#Servicios',
			child: [],
		},
		{
			title: 'Proyectos',
			url: '#Proyectos',
			child: [],
		},
		{
			title: 'Contacto',
			url: '#Contacto',
			child: [],
		},
	];


nav.main-nav#main-nav
	ul.main-menu
		each page in pages
			li.main-menu__item
				a(href= page.url class='main-menu__link links' id=`${page.title.toLowerCase()}-link`)= page.title


