//- block config
//- include ./config

include ../mixin/button
include ../mixin/project

doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Hola bienvenid@ a mi Portafolio Profesional, soy PEDRO PURIHUAMAN, Estudiante y Desarrollador Web Junior")
		link(rel="canonical", href="https://priceless-lewin-83b564.netlify.app")
		meta(name="theme-color")
		meta(name="twitter:card" content="summary")
		meta(property="og:type" content="website")
		meta(property="og:title" name="twitter:title" content="Bienvenid@s - PEDRO PURIHUAMAN")
		meta(property="og:image" name="twitter:image" content="https://priceless-lewin-83b564.netlify.app/assets/icons/logo-puri.svg")
		meta(property="og:url" name="twitter:url" content="https://priceless-lewin-83b564.netlify.app")
		meta(property="og:description" name="twitter:description" content="Hola bienvenid@ a mi Portafolio Profesional, soy PEDRO PURIHUAMAN, Estudiante y Desarrollador Web Junior")
		title="Bienvenid@s - PEDRO PURIHUAMAN"
		link(rel="apple-touch-icon", href="https://priceless-lewin-83b564.netlify.app/assets/icons/logo-puri.svg")
		link(rel="shortcut icon", href="https://priceless-lewin-83b564.netlify.app/assets/icons/logo-puri.svg", type="image/x-icon")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap" rel="stylesheet")
	body
		header.header
			.container
				.header__container
					.container-logo
						a(href="./").container-logo__link
							img(src="./assets/icons/logo-puri.svg", alt="logotipo Pedro Purihuaman" class='container-logo__image')

					include menu

					.iconMenu#iconMenu
						.iconMenu__icon


		main.main
			block banner
			.container
				block about
				block projects

		footer.footer
			.container
				block footer
					include footer-content
