$table-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;
$dark: var(--dark-color500);

.about {
	@media screen and (min-width: $desktop-width) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		gap: var(--small-gap);
		padding: var(--normal-padding) 0;
	}
}
.biography {
	padding: var(--normal-padding) 0;
	&__name {
		text-align: center;
		font-size: var(--h1-font-size);
		margin-bottom: 0;
	}

	&__occupation {
		display: block;
		text-align: center;
		font-size: var(--small-font-size);
		color: var(--white-color700);
	}

	&__info {
		text-align: center;
	}
	
	&__text {
		@media screen and (min-width: $desktop-width) {
			text-align: right;
		}
	}
	&__link {
		text-decoration: none;
		color: var(--white-color500);
	}

	&__cv {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--small-padding) 0;
	}
	
	&__button {
		text-align: center;
		background-color: var(--second-color500);
		border-color: var(--second-color500);
	}
}

.photography {
	padding: var(--small-padding);

	&__container {
		margin-left: auto;
		margin-right: auto;
		height: 250px;
		width: 250px;
		overflow: hidden;

		@media screen and (min-width: $desktop-width) {
			padding-top: var(--x-large-padding);
		}
	}
	
	&__image {
		object-fit: cover;
	}
}

.skills {
	padding: var(--small-padding) 0;

	&__title {
		margin-top: var(--x-large-margin);
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--small-gap);
		padding: var(--small-padding);
	}
	
	&__item {
		position: relative;
		padding: var(--small-padding);
		background-color: var(--dark-color600);
		box-shadow: 3px 3px 5px var(--dark-color500), -3px -3px 5px var(--dark-color500);
		border-radius: var(--border-radius);
		cursor: pointer;

		&:hover .skills__details {
			display: block;
			position: absolute;
			left: 0;
			z-index: var(--z-index100);
			
			@media screen and (min-width: $desktop-width) {
				right: 0;
			}
		}

		&:nth-child(3):hover .skills__details,
		&:nth-child(6):hover .skills__details {
			transform: translate(-155px, -40px);
			@media screen and (min-width: $desktop-width) {
				transform: translate(-195px, -60px);
			}
		}
	}

	&__image {
		height: 120px;
		width: 100%;

		@media screen and (min-width: $table-width) {
			height: 150px;
		}

		@media screen and (min-width: $desktop-width) {
			height: 120px;
		}
	}

	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
	}

	&__name {
		display: block;
		font-size: var(--small-font-size);
		text-align: center;
		color: var(--white-color700);
	}

	&__details {
		display: none;
		width: 300px;
		padding: var(--normal-padding);
		background-color: var(--dark-color600);
		border-radius: var(--border-radius);
		
		@media screen and (min-width: $desktop-width) {
			transform: translate(-35%, -40%);
			transition: display 5s;
		}
	}

	&__details-title {
		text-align: center;
		margin-top: var(--small-margin);
	}
}
