.home {}

.banner {
	background-image: var(--image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: var(--attachment);

	&__opacity {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		min-height: 100vh;
		background-color: var(--grey-RGBA);
	}

	&__content {}

	&__title { font-size: var(--h1-font-size); }
}

.button--contact {
	background-color: var(--primary-500);
	border-color: var(--primary-500);
}
.button--contact:hover {
	background-color: var(--primary-600);
}
