$table-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;

.home {
	height: 70vh;
}

.banner {
	height: 100%;
	background-color: rgba(0, 0, 0, .7);

	&__content {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: calc( var(--x-large-padding) * 2);
	}

	&__title {
		width: 100%;
		text-align: center;
		color: var(--white-color500);
		font-size: var(--h1-font-size);
	}
}

.button--contact {
	display: block;
	background-color: var(--primary-color500);
	border-color: var(--primary-color500);
}
.button--contact:hover {
	background-color: var(--primary-color600);
}
