$widht-form: 500px;

$table-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1280px;

.container-form {
	margin-top: var(--normal-padding);
	margin-left: auto;
	margin-right: auto;
	
	background-color: var(--dark-color500);
	padding: var(--normal-padding);
	border-radius: var(--border-radius);
	
	@media screen and (min-width: $table-width) {
		width: $widht-form;
	}
}

.form {
	border-radius: var(--border-radius);
	padding: var(--normal-padding);
	transition: max-width .3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		text-align: center;
	}
	&__input {
		width: 100%;
		margin-bottom: var(--large-margin);
		font-size: var(--normal-font-size);
	}

	&__button {
		background-color: var(--primary-color500);
		border-color: var(--primary-color500);
		&:hover {
			background-color: var(--primary-color600);
		}
	}
}

.copy-page {
	&__text {
		text-align: center;
		font-size: var(--small-font-size);
	}
}