$table-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1400px;


.modal-project {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: var(--z-index300);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s;
	background-color: var(--dark-colorRGBA);

	&[id|="proyecto"]:target {
		opacity: 1;
		pointer-events: auto;
	}

	
	&__content {
		position: relative;
		width: 300px;
		background-color: var(--dark-color400);
		padding: var(--normal-padding);
		border-radius: var(--border-radius);
		transition: width .3s;

		@media screen and(min-width: $table-width){
			width: 600px;
		}
	}

	&__close {
		position: absolute;
		right: var(--small-margin);
		top: var(--small-margin);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: calc( var(--small-padding) - 5px);
		border-color: var(--primary-color500);
		background-color: var(--primary-color500);
	}
	
	&__icon {
		height: 24px;
		fill: var(--white-color500);
	}

	&__info {
		margin-top: var(--x-large-margin);

		
		@media screen and(min-width: $table-width) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__image {
		margin-left: auto;
		margin-right: auto;
		height: 250px;
		object-fit: cover;
		border-radius: var(--border-radius);
	}

	&__description {
		@media screen and(min-width: $table-width) {
			width: 60%;
			padding-left: var(--normal-padding);
		}
	}

	&__title {
		text-align: center;

		@media screen and(min-width: $table-width) {
			margin-top: 0;
		}
	}
}

// Detalles del proyecto
.details {
	font-size: var(--normal-font-size);

	&__info {
		display: block;
		display: flex;
		padding: var(--small-padding) 0;
	}

	&__title {
		width: 20%;
		margin-right: var(--normal-margin);
		color: var(--primary-color500);
	}
}