.projects {
	padding: var(--normal-padding) 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	justify-items: center;
	gap: var(--normal-gap);
}