$width-card: var(--width-card);

.projects {
	padding: var(--normal-padding) 0;

	&__title {
		text-align: center;
	}

	&__content {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax($width-card, auto));
		gap: var(--normal-gap);
		padding: var(--normal-padding) 0;
	}
}