extends ./views/includes/template

block banner
	include ./views/includes/banner

block about
	include ./views/includes/about
	
//- block projects
//- 	section.container-projects
//- 		h2.subtitle#Proyectos Proyectos
//- 		section.projects
//- 			+card('car.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
//- 			+card('code.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, con el framework CodeIgnater, jquery y MySql.')
//- 			+card('pc.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
//- 			+card('car.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
//- 			+card('work.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
//- 			+card('car.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
//- 			+card('code.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
