extends ./views/includes/template

block banner
	include ./views/includes/banner

block about
	include ./views/includes/about

block projects
	section.projects#Proyectos
		h2.projects__title Proyectos

		section.projects__content
			+card('proyecto-1', 'blackjack.jpg', 'Juego de Blackjack (21)', 'Juego de blackjack (21). Hecho en HTML5, CSS3 Y JavaScript, la libreria Underscore.js')
			+card('proyecto-2', 'crud.jpg', 'Crud con JS(Ajax), PHP y MySQL', 'Crud creado con JavaScript, Ajax, PHP y MySql.')
			//- +card('proyecto-3', 'pc.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
			//- +card('proyecto-4', 'car.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
			//- +card('proyecto-5', 'work.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')
			//- +card('proyecto-6', 'car.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
			//- +card('proyecto-7', 'work.jpg', 'Punto de venta (POS)', 'Tienda hecho en php, jquery y MySql.')
			//- +card('proyecto-8', 'pc.jpg', 'Tienda Ecommers', 'Tienda hecho en php, jquery y MySql.')

block modal
	+modalProject('proyecto-1', 'Tienda Ecommers', 'blackjack.jpg', 'Juego de Blackjack (21). Hecho en HTML5, CSS3 Y JavaScript, la libreria Underscore.js.', '21/09/2021', 'Juego Blackjack', 'https://dreamy-nobel-2b3c2b.netlify.app/')
	+modalProject('proyecto-2', 'Crud con JS(Ajax), PHP y MySQL', 'crud.jpg', 'Crud creado con JavaScript, Ajax, PHP y MySql.', '30/09/2021', 'CRUD', 'https://github.com/puriihuaman/crud-ajax-php')
	//- +modalProject('proyecto-3', 'Tienda Ecommers', 'pc.jpg', 'Tienda hecho en php, jquery y MySql.', '16/09/2021', 'LandingPage', 'https://google.com')
	//- +modalProject('proyecto-4', 'Punto de venta', 'car.jpg', 'Tienda hecho en php, jquery y MySql.', '16/09/2021', 'LandingPage', 'https://google.com')
	//- +modalProject('proyecto-5', 'Tienda Ecommers', 'work.jpg', 'Tienda hecho en php, jquery y MySql.', '16/09/2021', 'LandingPage', 'https://google.com')
	//- +modalProject('proyecto-6', 'Punto de venta', 'car.jpg', 'Tienda hecho en php, jquery y MySql.', '16/09/2021', 'LandingPage', 'https://google.com')
	//- +modalProject('proyecto-7', 'Tienda Ecommers', 'work.jpg', 'Tienda hecho en php, jquery y MySql.', '16/09/2021', 'LandingPage', 'https://google.com')
	//- +modalProject('proyecto-8', 'Punto de venta', 'pc.jpg', 'Tienda hecho en php, jquery y MySql.', '16/09/2021', 'LandingPage', 'https://google.com')